*{
    margin: 0;
    padding: 0;
}

.header 
{
    height: 100%;
}

.person-avatar {
    margin-top: 10px;
    border-radius: 50%;
    
}

p {
    text-align: justify;
  text-justify: inter-word;
}

p.intro {
    font-size: 2rem;
    color: #7c7a7a;
    line-height: 1.3;       
}

p.description {
    font-size: 1.3rem;
    color: #414040;
    line-height: 1.3;    
}
a.external {
    font-size: 1.3rem;
    color: #636262;
    line-height: 1.3;
}

.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

li a
{
   color: #333; 
}

.chart {
    position: relative;
    display: inline-block;
    margin: 20px 10px;    
    font-size: 14px;
    text-align: center;
  }
  .chart canvas {    
    position: absolute;
    top: 0;
    left: 0;
  }
  