*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/background.JPG");  
    background-size: cover;  
}

.header 
{
    height: 100%;
}

.person-avatar {
    border-radius: 50%;
    
}

p {
    text-align: justify;
  text-justify: inter-word;
}

.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

li a
{
   color: #333; 
}